<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clvgy.system.mapper.SysMenuMapper">


    <!--    根据用户id去查询菜单信息-->
    <select id="findMenuListByUserId" resultType="com.clvgy.model.system.SysMenu">
        SELECT DISTINCT
        m.id,m.parent_id,m.name,m.type,m.path,
        m.component,m.perms,m.icon,m.sort_value,m.status,
        m.create_time,m.update_time,m.is_deleted

        FROM sys_menu m WHERE m.id
        IN
        (SELECT rm.menu_id
        FROM sys_role_menu rm WHERE rm.role_id
        IN
        (SELECT ur.role_id
        FROM sys_user_role ur WHERE ur.user_id=#{userId} AND ur.is_deleted=0 ) AND rm.is_deleted=0 )
        AND m.status=1 AND m.is_deleted=0;
    </select>
</mapper>
