<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clvgy.system.mapper.SysRegionMapper">


    <resultMap id="SysRegionMap" type="com.clvgy.model.system.SysRegion" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
      id,region_name,create_time,update_time,is_deleted
   </sql>

    <select id="selectPage" resultMap="SysRegionMap">
        select <include refid="columns" />
        from sys_region
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and region_name like CONCAT('%',#{vo.keyword},'%')
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and create_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and create_time &lt;= #{vo.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>
