<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clvgy.system.mapper.SysSchoolMapper">


    <resultMap id="SysSchoolMap" type="com.clvgy.model.system.SysSchool" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
      id,name,user_id,create_time,update_time,is_deleted
   </sql>

    <select id="selectPage" resultMap="SysSchoolMap">
        select <include refid="columns" />
        from sys_school
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and name like CONCAT('%',#{vo.keyword},'%')
            </if>
            <if test="vo.createTimeBegin != null and vo.createTimeBegin != ''">
                and create_time >= #{vo.createTimeBegin}
            </if>
            <if test="vo.createTimeEnd != null and vo.createTimeEnd != ''">
                and create_time &lt;= #{vo.createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

</mapper>
